
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1498618205518'); /* IE9*/
  src: url('../font/iconfont.eot?t=1498618205518#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1498618205518') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1498618205518') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1498618205518#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  speak: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before { content: "\e60c"; }

.icon-unfold:before { content: "\e637"; }

.icon-more:before { content: "\e6a2"; }

.icon-arrow-left:before { content: "\e61f"; }

