html,body,div,p,ul,li,span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 浮动以及清除浮动 */
  .lf {
    float: left;
  }
  .rf {
    float: right;
  }
  .clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
