.ms-pagination div,
.ms-pagination p,
.ms-pagination ul,
.ms-pagination li,
.ms-pagination span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ms-pagination ul,
.ms-pagination li {
  list-style: none;
}
.ms-pagination a {
  text-decoration: none;
}
.ms-pagination .lf {
  float: left;
}
.ms-pagination .rf {
  float: right;
}
.ms-pagination .clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
